.confirmation_container {
  margin-left: 50rem;
  width: 15rem;
  border-radius: 25px;
  box-shadow: 0 0 9px -5px;
  padding: 10px;
  margin-top: 10rem;
}
.ok {
  margin: 5rem;
  transition: 0.3s;
  animation: ease-in;
}
.ok:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15 0;
}
