.edit_container {
  margin-left: 50rem;
  width: 20rem;
  height: 15rem;
  border-radius: 25px;
  box-shadow: 0 0 9px -5px;
  padding: 10px;
  margin-top: 10rem;
}
.not {
  transition: 0.3s;
  animation: ease-in;
  margin-top: 4rem;
  margin-right: 5rem;
  margin-left: 3rem;
  font-family: "Roboto", sans-serif;
}
.not:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15 0;
}
.update {
  transition: 0.3s;
  animation: ease-in;
  font-family: "Roboto", sans-serif;
}
.update:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15 0;
}
p {
  text-align: center;
  margin-top: 2rem;
  font-family: "Roboto", sans-serif;
}
