.navWrapper_container {
  font-family: "Roboto", sans-serif;
  display: flex;
  width: 100%;
  margin: 24px auto 16px;
  justify-content: space-between;
  padding-bottom: 10px;
}
.des {
  font-size: 16px;
}
hr {
  border-width: 1px;
}

.link_container {
  margin-top: 9.6rem;
}
/* a {
  padding: 1rem;
} */
.left_container {
  width: 30rem;
}
.eventDescription_container {
  margin: 30px;
  text-align: justify;
  font-family: "Roboto", sans-serif;
}
.time_container {
  margin: 30px;
  font-family: "Roboto", sans-serif;
}
.form_content_container {
  display: grid;
  grid-gap: 0.2rem;
}
