.event_container {
  width: 40rem;
  overflow: hidden;
  padding: 10px;
  margin: 30px;
  margin: 24px auto 16px;
  margin: 24px auto 16px;
  box-shadow: 0 6px 0 -5px;
  padding-bottom: 10px;
  font-family: "Roboto", sans-serif;
}
.header {
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-top: 35px;
  letter-spacing: 2px;
}
a {
  text-decoration: none;
  color: #00aeef;
  font-family: "Roboto", sans-serif;
}
.link {
  padding-top: 20px;
}

.show:hover {
  color: rgb(35, 35, 125);
}
.block {
  text-align: justify;
  font-family: "Roboto", sans-serif;
}
.more {
  font-family: "Roboto", sans-serif;
}
.btn {
  text-align: center;
  padding-top: 35px;
}
