.navWrapper {
  font-family: "Roboto", sans-serif;
  display: flex;
  width: 100%;
  margin: 24px auto 16px;
  justify-content: space-between;
  box-shadow: 0 6px 0 -5px;
  padding-bottom: 10px;
}

.link_container {
  margin-top: 9.6rem;
}
/* a {
    padding: 1rem;
  } */
.left_container {
  width: 30rem;
}
.eventDescription {
  margin: 30px;
  font-family: "Roboto", sans-serif;
}
.eventSchedule_contaner {
  margin: 30px;
  width: 15rem;
  font-family: "Roboto", sans-serif;
}
.eventHost_container {
  margin: 30px;
  width: 20rem;
  height: 15rem;
  border-radius: 25px;
  box-shadow: 0 0 9px -5px;
  padding: 10px;
  font-family: "Roboto", sans-serif;
}
.time_container {
  margin: 30px;
  font-family: "Roboto", sans-serif;
}
