.event_container {
  width: 40rem;
  overflow: hidden;
  box-shadow: 0 0 15px -5px;
  height: 15rem;
  padding: 10px;
  margin: 30px;
  border-radius: 25px;
}

.details_container {
  height: 1rem;
  margin-left: 30.4rem;
  margin-bottom: 1rem;
  width: 15rem;
}
.rsvp {
  align-self: right;
  margin: 20px;
  margin-left: 550px;
  transition: 0.3s;
  animation: ease-in;
}
.rsvp:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15 0;
}
.block {
  text-align: justify;
}
