.form_container {
  font-family: "Roboto", sans-serif;
  display: flex;
  width: 100%;
  margin: 24px auto 16px;
  justify-content: space-between;
  padding-bottom: 10px;
}
.change {
  margin-top: 0.5rem;
  margin-left: 5.5rem;
  transition: 0.3s;
  animation: ease-in;
  font-family: "Roboto", sans-serif;
}
.change:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15 0;
}

.dates_container {
  width: 19rem;
  height: 3rem;
}
.elink {
  width: 19rem;
  font-size: smaller;
  overflow-wrap: break-word;
  margin-top: -1rem;
  height: 2rem;
  font-family: "Roboto", sans-serif;
}
.going {
  margin-top: 1rem;
  margin-left: 7rem;
  font-family: "Roboto", sans-serif;
}
h5 {
  margin-top: 1rem;
  font-family: "Roboto", sans-serif;
}
