.form_container {
  width: 20rem;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  height: 13rem;
  padding: 10px;
  margin: 30px;
}
.submit {
  padding: 5px;
  transition: 0.3s;
  animation: ease-in;
  font-family: "Roboto", sans-serif;
}
.submit:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15 0;
}
