.form_container {
  width: 20rem;
  overflow: hidden;
  box-shadow: 0 0 15px -5px;
  height: 13rem;
  padding: 10px;
  margin: 30px;
  border-radius: 25px;
}
.submit {
  padding: 5px;
  margin-left: 8rem;
}
